{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% bootstrap_css %} {% bootstrap_javascript %} {% bootstrap_jquery %}
    <title>검색 페이지</title>
  </head>
  <body>
    <div class="search-result">
      <div>"존윅" 의 검색결과</div>
    </div>

    <div class="container">
      <!-- 콘텐츠 -->
      <div>
        <div>
          <h2>콘텐츠</h2>
        </div>
        <hr />
        <!-- 캐로젤+카드(index) -->
        <div id="carouselExample" class="carousel carousel-dark slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <ul class="card-wrapper">
                <li class="card">
                  <a href="#">
                    <div class="image-wrapper">
                      <img
                        src="https://an2-img.amz.wtchn.net/image/v2/Gj9piK9dLotP-7jFSgLuZw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qZ3dlRFF3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk9EQTNPVFl6TXprNU5qYzBNamc1TURBaWZRLkV6MlpieEtfakR4b2h1SVhvcHU5eVRBOUo2dFVrMnhOM3J2eDlMSmNaZHc"
                        alt="..."
                      />
                    </div>
                    <div class="card-body">
                      <div class="card-text">존 윅4</div>
                      <div>
                        <span>2023 ・미국</span>
                      </div>
                      <div>
                        <span>영화</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="card">
                  <a href="#">
                    <div class="image-wrapper">
                      <img
                        src="https://an2-img.amz.wtchn.net/image/v2/IcWAketAkPKJuFdJ8-_3rA.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qZ3dlRFF3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMMnh0YjI1dWFIbHViV28zY1d0NGNXUjFkVFp2SW4wLmdfN05nWC1manRvY3VBR0hzWmx3cm0tR2ZWMmhpdGlXZDhKZW1lTFJfZms"
                        alt="..."
                      />
                    </div>
                    <div class="card-body">
                      <div class="card-text">존 윅3:파라벨룸</div>
                      <div>
                        <span>2019 ・미국</span>
                      </div>
                      <div>
                        <span>영화</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="card">
                  <a href="#">
                    <div class="image-wrapper">
                      <img
                        src="https://an2-img.amz.wtchn.net/image/v2/j7qR7-Bz0k7YOLy3ugqxWw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qZ3dlRFF3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk5qRTFNVEl6TmpRNU9UVTNOREF5TURRaWZRLldhaVJQQTRFcVVtcjd1OTA0dFQxS292T3duYzJIdGYtU2tXcUhaY1RTNzQ"
                        alt="..."
                      />
                    </div>
                    <div class="card-body">
                      <div class="card-text">존 윅- 리로드</div>
                      <div>
                        <span>2017 ・미국</span>
                      </div>
                      <div>
                        <span>영화</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="card">
                  <a href="#">
                    <div class="image-wrapper">
                      <img
                        src="https://an2-img.amz.wtchn.net/image/v2/PuNvdAsKsXE31jVnD3Bjeg.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qZ3dlRFF3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk5qRTFNVEkwTkRNNE1UUXdOak0zT1RnaWZRLnFVMWJEQWdCRGROb01kX19KZFFOWTYxb0llR2RLd3pTUVRBSkVJV0NNYkU"
                        alt="..."
                      />
                    </div>
                    <div class="card-body">
                      <div class="card-text">존 윅</div>
                      <div>
                        <span>2014 ・미국</span>
                      </div>
                      <div>
                        <span>영화</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="card">
                  <a href="#">
                    <div class="image-wrapper">
                      <img
                        src="https://an2-img.amz.wtchn.net/image/v2/sgwxUBFZYS-gfdEor2H81Q.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMM3A1Y0hKemNUSmphbTAxWkhoamRXY3ljRE14SW4wLkU4elA5YXlyTDhfcUU5MzZoa0pJRDFjMVJHVGxSdi1yUHhxSDdGaWRqeGc"
                        alt="..."
                      />
                    </div>
                    <div class="card-body">
                      <div class="card-text">존 윅:콘피튬</div>
                      <div>
                        <span>2019 ・미국</span>
                      </div>
                      <div>
                        <span>영화</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="card">
                  <a href="#">
                    <div class="image-wrapper">
                      <img
                        src="https://an2-img.amz.wtchn.net/image/v2/Ugtsd0_U0APkVpKReyV87A.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qZ3dlRFF3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk9ERTFOek0xT0RVM016STFOalEyT0RFaWZRLmd5dk1xbElscThVMnlaQnFSYjg3UW51ckhlQkx5Y1RoLThoM2NBUXlfY00"
                        alt="..."
                      />
                    </div>
                    <div class="card-body">
                      <div class="card-text">
                        더 컨티넨탈: 프롬 더 월드 오브 존 윅
                      </div>
                      <div>
                        <span>2023 ・ Peacock </span>
                      </div>
                      <div>
                        <span>TV프로그램</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <button
            id="prevBtn"
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button
            id="nextBtn"
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <hr />
      <!-- 영화 -->
      <div>
        <div class="d-flex justify-content-between">
          <h2>영화</h2>
          <div class="more">더보기</div>
        </div>

        <div class="d-flex">
          <div class="col-6 d-flex">
            <div class="category-thumnail">
              <img
                src="https://an2-img.amz.wtchn.net/image/v2/Gj9piK9dLotP-7jFSgLuZw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qZ3dlRFF3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk9EQTNPVFl6TXprNU5qYzBNamc1TURBaWZRLkV6MlpieEtfakR4b2h1SVhvcHU5eVRBOUo2dFVrMnhOM3J2eDlMSmNaZHc"
                alt=""
              />
            </div>
            <div>
              <div>존 윅4</div>
              <span>2023 · 미국</span>
            </div>
          </div>
          <div class="col-6 d-flex">
            <div class="category-thumnail">
              <img
                src="https://an2-img.amz.wtchn.net/image/v2/PuNvdAsKsXE31jVnD3Bjeg.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qZ3dlRFF3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk5qRTFNVEkwTkRNNE1UUXdOak0zT1RnaWZRLnFVMWJEQWdCRGROb01kX19KZFFOWTYxb0llR2RLd3pTUVRBSkVJV0NNYkU"
                alt=""
              />
            </div>
            <div>
              <div>존 윅</div>
              <span>2014 · 미국</span>
            </div>
          </div>
        </div>

        <div class="d-flex">
          <div class="col-6 d-flex">
            <div class="category-thumnail">
              <img
                src="https://an2-img.amz.wtchn.net/image/v2/IcWAketAkPKJuFdJ8-_3rA.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qZ3dlRFF3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMMnh0YjI1dWFIbHViV28zY1d0NGNXUjFkVFp2SW4wLmdfN05nWC1manRvY3VBR0hzWmx3cm0tR2ZWMmhpdGlXZDhKZW1lTFJfZms"
                alt=""
              />
            </div>
            <div>
              <div>존 윅3:파라벨룸</div>
              <span>2019 · 미국</span>
            </div>
          </div>
          <div class="col-6 d-flex">
            <div class="category-thumnail">
              <img
                src="https://an2-img.amz.wtchn.net/image/v2/RH9W9xslKcTvsGEzQoPq-Q.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qZ3dlRFF3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMM3A1Y0hKemNUSmphbTAxWkhoamRXY3ljRE14SW4wLndGZFNDT0lyY0FtNkFKQmlsRG1XckY3eFlkT3JVWlphQmo5cnJVRGpxMHc"
                alt=""
              />
            </div>
            <div>
              <div>존 윅:콤피튬</div>
              <span>2019 · 한국</span>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="col-6 d-flex">
            <div class="category-thumnail">
              <img
                src="https://an2-img.amz.wtchn.net/image/v2/j7qR7-Bz0k7YOLy3ugqxWw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qZ3dlRFF3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk5qRTFNVEl6TmpRNU9UVTNOREF5TURRaWZRLldhaVJQQTRFcVVtcjd1OTA0dFQxS292T3duYzJIdGYtU2tXcUhaY1RTNzQ"
                alt=""
              />
            </div>
            <div>
              <div>존 윅 - 리로드</div>
              <span>2017 · 미국</span>
            </div>
          </div>
          <div class="col-6 d-flex"></div>
        </div>
      </div>
      <hr />
      <!-- TV프로그램 -->
      <div>
        <div class="d-flex justify-content-between">
          <h2>TV 프로그램</h2>
          <div class="more">더보기</div>
        </div>
        <div class="d-flex">
          <div class="col-6 d-flex">
            <div class="category-thumnail">
              <img
                src="https://an2-img.amz.wtchn.net/image/v2/Ugtsd0_U0APkVpKReyV87A.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qZ3dlRFF3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk9ERTFOek0xT0RVM016STFOalEyT0RFaWZRLmd5dk1xbElscThVMnlaQnFSYjg3UW51ckhlQkx5Y1RoLThoM2NBUXlfY00"
                alt=""
              />
            </div>
            <div>
              <div>더 컨티넨탈: 프롬 더 월드 오브 존 윅</div>
              <span>2023 ・ Peacock</span>
            </div>
          </div>
          <div class="col-6 d-flex"></div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <form action="" method="get">
      <input type="text" name="q" value="{{ q }}" />
      <input type="submit" value="검색" />
    </form>
    <table class="table table-bordered table-hover">
      {% for post in qs %}
      <tr>
        <td>
          <ul>
            <li><h3>{{ post.title }}</h3></li>
            <li>
              <img src="{{ post.image.url }}" alt="" style="width: 100px" />
            </li>
            <li><p>{{ post.content }}</p></li>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
