{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>포스팅 자세히</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_jquery %}
</head>
<body>
<ul>
    <li><h1>{{ post.title }}</h1></li>
    <li><img src="{{ post.image.url }}" alt="" style="width:400px;"></li>
    <li><b>{{ post.content }}</b></li>
</ul>
</body>
</html>