{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>비밀번호 수정</title>
<link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock head %}

{% block content %}
<main>
    <div class="container profile-edit_form">
        <div class="d-flex justify-content-center mb-5">
            <h3>비밀번호 수정</h3>
        </div>
        <form action="{% url 'accounts:password_change' %}" method="POST">
            {% csrf_token %}
            <div>
                <p>{{ form.old_password.label }}</p>
                <p>{{ form.old_password }}</p>
            </div>
            <div>
                <p>{{ form.new_password1.label }}</p>
                <p>{{ form.new_password1 }}</p>
            </div>
            <div>
                <p>{{ form.new_password2.label }}</p>
                <p>{{ form.new_password2 }}</p>
            </div>
            <input type="submit" class="profile-submit_btn mt-3" value="비밀번호 수정">
        </form>
    </div>
</main>
{% endblock content %}
