{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>RED-GLASSES</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock head %}

{% block content %}
{% comment %} <a href="{% url 'accounts:profile_edit' %}">프로필 수정</a> {% endcomment %}
<div class="profile-container mb-5">
  <div class="img-cover">
    <img src="https://wallpaperaccess.com/full/1204591.jpg" alt=""/>
  </div>
  <div class="profile-info">
    <div class="profile-image">
      {% if person.image %}
      <img src="{{ person.image.url }}" alt="">
      {% else %}
      <img src="{% static 'img/no_profile.jpg' %}" alt="">
      {% endif %}
    </div>
    <div class="d-flex align-items-center gap-3">
      <h3 class="mt-2"><b>{{person}}</b></h3>
      {% if request.user != person %}
      <form id="follow-form" data-user-id="{{ person.username }}">
        {% csrf_token %}
        {% if request.user in person.followers.all %}
        <input type="submit" value='언팔로우' class="profile-unfollow_btn">
        {% else %}
        <input type="submit" value='팔로우' class="profile-follow_btn">
        {% endif %}
      </form>
      {% endif %}
    </div>
    <div>
      팔로워 <a type="button" data-bs-toggle="modal" data-bs-target="#followersModal"><b><span id="followers-count">{{ person.followers.all|length }}</span></b></a> · 
      팔로잉 <a type="button" data-bs-toggle="modal" data-bs-target="#followingsModal"><b><span id="followings-count">{{ person.followings.all|length }}</span></b></a>
    </div>
  </div>


  <div class="accordion accordion-flush border-top border-bottom" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <div class="d-flex gap-2">
            <span><b>보고싶은 영화</b></span>
            <span class="text-secondary">{{ person.like_posts.all|length }}</span>
          </div>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          {% for post in person.like_posts.all|dictsortreversed:'created_at' %}
          <a href="{% url 'posts:detail' post.id %}">
            <div class="d-flex align-items-center justify-content-between p-2 border-bottom like-post">
              <div class="d-flex align-items-center gap-3">
                <div class="poster-form">
                  <img src="https://image.tmdb.org/t/p/original/{{ post.poster }}" alt="">
                </div>
                <div>{{ post.title }}</div>
              </div>
              <div class="post-release">개봉 : {{ post.released_at }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <div class="d-flex gap-2">
            <span><b>코멘트</b></span>
            <span class="text-secondary">{{ person.comment_set.all|length }}</span>
          </div>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          {% for comment in person.comment_set.all|dictsortreversed:'created_at' %}
          <a href="{% url 'posts:comment' comment.movie comment.id %}">
            <div class="comment-form d-flex justify-content-between gap-4">
              <div class="d-flex flex-column gap-2">
                <div class="movie-title">{{ comment.movie_title }}</div>
                <div>{{ comment.content }}</div>
              </div>
              <div class="d-flex align-items-end comment-created_at">{{ comment.created_string }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center m-4">
    <div class="d-grid gap-3 d-md-flex justify-content-md-end align-items-center">
      <a href="{% url 'accounts:logout' %}" type="button" class="feature-btn">
        로그아웃
      </a> ·
      <a href="{% url 'accounts:profile_edit' %}" type="button" class="feature-btn">
        회원정보 수정
      </a> ·
      <form action="{% url 'accounts:delete' %}" method="POST">
        {% csrf_token %}
        <input type="submit" class=" bg-transparent border-0 feature-btn" value="회원탈퇴" onclick="return confirm('탈퇴 하시겠습니까?')">
      </form>
    </div>
  </div>
</div>

<!-- 팔로워 Modal -->
<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">팔로워</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for follower in person.followers.all %}
        <a href="{% url 'accounts:profile' follower.username %}">
          <div class="d-flex align-items-center gap-3">
            <div class="follow-profile_form">
              {% if follower.image %}
              <img src="{{ follower.image.url }}" alt="">
              {% else %}
              <img src="{% static 'img/no_profile.jpg' %}" alt="">
              {% endif %}
            </div>
            <div>{{ follower.username }}</div>
          </div>
        </a>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<!-- 팔로잉 Modal -->
<div class="modal fade" id="followingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">팔로잉</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for following in person.followings.all %}
        <a href="{% url 'accounts:profile' following.username %}">
          <div class="d-flex align-items-center gap-3">
            <div class="follow-profile_form">
              {% if follower.image %}
              <img src="{{ following.image.url }}" alt="">
              {% else %}
              <img src="{% static 'img/no_profile.jpg' %}" alt="">
              {% endif %}
            </div>
            <div>{{ following.username }}</div>
          </div>
        </a>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/follow.js' %}"></script>
{% endblock script %}