{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>회원정보수정</title>
<link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">
{% endblock head %}

{% block content %}
<main>
    <div class="container profile-edit_form">
        <div class="mb-5">
            <h3>회원정보 수정</h3>
        </div>
        <form action="{% url 'accounts:profile_edit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <p>{{ form.username.label }}</p>
                <p>{{ form.username }}</p>
            </div>
            <div>
                <p>{{ form.image.label }}</p>
                <p>{{ form.image }}</p>
            </div>
            <input type="submit" class="profile-submit_btn mt-3" value="프로필 수정">
        </form>
    </div>
</main>
{% endblock content %}
