{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head %}

{% block content %}
<main>
    <div class="container mb-5">
        <section class="index-category">
        {% if error %}
            <div class="d-flex justify-content-center fs-5">{{ error }}</div>
        {% else %}
            <div class="index-category_title">
                <b>인기영화 순위</b>
            </div>

            <div id="popularCarousel" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                    {% for popular in popular_movies %}
                        {% if forloop.counter0|divisibleby:5 %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="row">
                                <ul class="card-wrapper">
                        {% endif %}
                                <li class="card">
                                    <a href="{% url 'posts:detail' popular.id %}">
                                        <div class="image-wrapper">
                                            <div class="rank-marker">{{ popular.rank }}</div>
                                            <img src="https://image.tmdb.org/t/p/w500/{{ popular.poster_path }}" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">{{ popular.title }}</div>
                                            <div>
                                                <span>개봉 : {{ popular.release_date }}</span>
                                                <div class='color-pink'>평균★{{ popular.vote_average }}</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                        {% if forloop.counter|divisibleby:5 or forloop.last %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button id="prevBtn" class="carousel-control-prev" type="button" data-bs-target="#popularCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button id="nextBtn" class="carousel-control-next" type="button" data-bs-target="#popularCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </section>


        <section class="index-category">
            <div class="index-category_title">
                <b>현재 상영중인 영화</b>
            </div>

            <div id="nowPlayingCarousel" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                    {% for now_playing in now_playing_movies %}
                        {% if forloop.counter0|divisibleby:5 %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="row">
                                <ul class="card-wrapper">
                        {% endif %}
                                <li class="card">
                                    <a href="{% url 'posts:detail' now_playing.id %}">
                                        <div class="image-wrapper">
                                            <div class="rank-marker">{{ now_playing.rank }}</div>
                                            <img src="https://image.tmdb.org/t/p/w500/{{ now_playing.poster_path }}" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">{{ now_playing.title }}</div>
                                            <div>
                                                <span>개봉 : {{ now_playing.release_date }}</span>
                                                <div class='color-pink'>평균★{{ now_playing.vote_average }}</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                        {% if forloop.counter|divisibleby:5 or forloop.last %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button id="prevBtn" class="carousel-control-prev" type="button" data-bs-target="#nowPlayingCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button id="nextBtn" class="carousel-control-next" type="button" data-bs-target="#nowPlayingCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </section>


        <section class="index-category">
            <div class="index-category_title">
                <b>개봉예정 영화</b>
            </div>

            <div id="upcomingCarousel" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                    {% for upcoming in upcoming_movies %}
                        {% if forloop.counter0|divisibleby:5 %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="row">
                                <ul class="card-wrapper">
                        {% endif %}
                                <li class="card">
                                    <a href="{% url 'posts:detail' upcoming.id %}">
                                        <div class="image-wrapper">
                                            <div class="rank-marker">{{ upcoming.rank }}</div>
                                            <img src="https://image.tmdb.org/t/p/w500/{{ upcoming.poster_path }}" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">{{ upcoming.title }}</div>
                                            <div>
                                                <span>개봉 예정 : {{ upcoming.release_date }}</span>
                                                <div class='color-pink'>평균★{{ upcoming.vote_average }}</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                        {% if forloop.counter|divisibleby:5 or forloop.last %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button id="prevBtn" class="carousel-control-prev" type="button" data-bs-target="#upcomingCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button id="nextBtn" class="carousel-control-next" type="button" data-bs-target="#upcomingCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </section>
        {% endif %}
    </div>
</main>
{% endblock content %}

{% block script %}
{% comment %} <script src="indexCarouselBtn.js"></script> {% endcomment %}
{% endblock script %}
