{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>코멘트</title>
<link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock head %}

{% block content %}
<main>
    <div class="container mb-5">
        <!-- 영화정보 부분 -->
        <section>
            <div class="d-flex justify-content-between py-3">
                <div class="d-flex flex-column gap-1">
                    <div class="d-flex align-items-center gap-2">
                        <a href="{% url 'accounts:profile' comment.user.username %}">
                            <div class="d-flex align-items-center gap-2">
                                <div class="profile-image-form">
                                    <img src="{% static 'img/no_profile.jpg' %}" alt="">
                                </div>
                                <div class="font-12 text-secondary">{{ comment.user.username }}</div>
                            </div>
                        </a>
                        <div class="font-12 text-secondary">{{ comment.created_string }}</div>
                    </div>
                    <h1 class="mt-2 m-0 fs-6">{{ detail.title }}</h1>
                    <div class="font-12 text-secondary">개봉 : {{ detail.release_date }}</div>
                    <div class="comment-score font-13">★4.5</div>
                    <div class="font-15 comment-content">{{ comment.content }}</div>
                    <div class="d-flex gap-3">
                        <div class="font-12 text-secondary">좋아요 {{ comment.count_likes_user }}</div>
                        <div class="font-12 text-secondary">댓글 {{ comment.recomment_set.all|length }}</div>
                    </div>
                </div>
                <div>
                    <div class="comment-poster_wrapper">
                        <img
                        src="https://image.tmdb.org/t/p/w500/{{ detail.poster_path }}"
                        alt=""
                        />
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-evenly gap-1 p-2 border-bottom border-top feature-btn">
                <a href="#" class="d-flex align-items-center justify-content-center  gap-2 font-15 text-secondary">
                    <span class="material-icons-outlined font-15">thumb_up</span>
                    좋아요
                </a>
                <div class="vertical-line"></div>
                <a type="button" data-bs-toggle="modal" data-bs-target="#chatModal" class="d-flex align-items-center justify-content-center gap-2 font-15 text-secondary">
                    <span class="material-icons-outlined font-15">chat</span>
                    댓글
                </a>
                <div class="vertical-line"></div>
                <div class="dropdown-center w-100">
                    <a type="button" data-bs-toggle="dropdown"  aria-expanded="false" class="d-flex align-items-center justify-content-center  gap-2 font-15 text-secondary">
                        <span class="material-icons-outlined font-15">share</span>
                        공유
                    </a>
                    <ul class="dropdown-menu border-0 shadow mt-2">
                        <li><button class="dropdown-item" type="button" class="d-flex gap-2">
                            <img src="{% static 'img/twitter_logo.svg' %}" alt="" style="width: 19px; height: 15px;" class="me-2">
                            트위터</button></li>
                        <li><button class="dropdown-item" type="button" class="d-flex gap-2">
                            <img src="{% static 'img/facebook_logo.svg' %}" alt="" style="width: 19px; height: 19px;" class="me-2">
                            페이스북</button></li>
                        <li><button class="dropdown-item" type="button" class="d-flex gap-2">
                            <img src="{% static 'img/kakao_logo.svg' %}" alt="" style="width: 18px; height: 16px;" class="me-2">
                            카카오톡</button></li>
                        <li><button class="dropdown-item" type="button" class="d-flex gap-2">
                            <img src="https://seekicon.com/free-icon-download/link_7.svg" alt="" style="width: 18px; height: 16px;" class="me-2">
                            링크복사</button></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 댓글부분 -->
        <section>
            {% for recomment in recomments %}
            <li class="d-flex gap-2 py-3 border-bottom">
                <div>
                    <div class="chat-profile_form">
                        <img src="{% static 'img/no_profile.jpg' %}" alt="">
                    </div>
                </div>
                <div class="w-100">
                    <div class="d-flex justify-content-between">
                        <div class="font-14"><b>{{ recomment.user }}</b></div>
                        <div class="text-secondary font-13">{{ recomment.created_string }}</div>
                    </div>
                    <div class="font-15">{{ recomment.content }}</div>
                    <a href="#" class="d-flex align-items-center justify-content-center gap-2 mt-3 chat-like_btn">
                        <span class="material-icons-outlined font-14 text-secondary">thumb_up</span>
                        <div class="font-14 text-secondary">{{ recomment.count_likes_user }}</div>
                    </a>
                </div>
            </li>
            {% endfor %}
        </section>
    </div>
</main>


<!-- 댓글 Modal -->
<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-100 p-3">
            <!-- 댓글 타이틀 -->
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h6 class="m-0"><b>댓글</b></h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- 댓글 입력부분 -->
            <form action="{% url 'posts:recomment_create' comment.movie comment.id %}" method="POST" class="d-flex flex-column log-input w-100 gap-2">
                {% csrf_token %}
                <textarea name="content" id="content" type="text" cols="30" rows="10" class="border-0 chat-input" placeholder="이 영화에 대한 생각을 자유롭게 표현해주세요."></textarea>
                <div class="d-flex flex-column align-items-end">
                    <input type="submit" value="저장" class="chat-btn border-0 mt-3">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}{% endblock script %}
