{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>코멘트 목록</title>
<link rel="stylesheet" href="{% static 'css/comments.css' %}">
{% endblock head %}

{% block content %}
<main>
    <div class="border-bottom bg-white mt-5 p-3 pb-2 comments-nav" id="comments-nav">
        <a href="{% url 'posts:detail' detail_pk %}">
            <span class="material-symbols-outlined color-pink">keyboard_backspace</span>
        </a>
        <h5 id="comments-title"><b>코멘트</b></h5>
    </div>
    <div class="container">
        {% for comment in comments %}
        <li class="comment-card">
            <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                <a href="{% url 'accounts:profile' comment.user.username %}" class="d-flex align-items-center gap-2 py-2">
                    <div class="profile-image-form">
                        <img src="{% static 'img/no_profile.jpg' %}" alt="">
                    </div>
                    <div><b>{{ comment.user }}</b></div>
                </a>
                <div class="comment-score font-14">★4.5</div>
            </div>
            <a href="{% url 'posts:comment' comment.movie comment.id %}">
                <div class="comment-content border-bottom">{{ comment.content }}</div>
            </a>
            <div class="d-flex align-items-center gap-3 border-bottom mb-2">
                <div class="d-flex align-items-center gap-2 py-2">
                    <span class="material-symbols-outlined text-secondary font-15">thumb_up</span>
                    <div class="font-14">{{ comment.count_likes_user }}</div>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-secondary font-15">chat_bubble</span>
                    <div class="font-14">{{ comment.recomment_set.all|length }}</div>
                </div>
            </div>
            <a href="#" class="color-pink">좋아요</a>
        </li>
        {% endfor %}
    </div>
</main>
{% endblock content %}

{% block script %}
<script src="{% static 'js/commentsTitle.js' %}"></script>
{% endblock script %}
