{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>영화 검색</title>
<link rel="stylesheet" href="{% static 'css/search.css' %}" />
{% endblock head %}

{% block content %}
<main>
  <div class="search-result d-flex align-items-center border-bottom">
    <div class="container">"{{ query }}" 의 검색결과</div>
  </div>
  
  <div class="container search-content">
    <!-- 콘텐츠 -->
    <div>
      <h2>영화 콘텐츠</h2>
      
      {% if search_movies %}
      <!-- 캐로젤+카드(index) -->
      <div id="movieCarousel" class="carousel carousel-dark slide">
        <div class="carousel-inner">
            {% for search in search_movies %}
                {% if forloop.counter0|divisibleby:6 %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row">
                        <ul class="card-wrapper">
                {% endif %}
                        <li class="card">
                            <a href="{% url 'posts:detail' search.id %}">
                                <div class="image-wrapper">
                                    <img src="https://image.tmdb.org/t/p/w500/{{ search.poster_path }}" alt="...">
                                </div>
                                <div class="card-body">
                                    <div class="card-text">{{ search.title }}</div>
                                    <div>
                                        <span>{{ search.release_date }}</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                {% if forloop.counter|divisibleby:6 or forloop.last %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <button id="prevBtn" class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button id="nextBtn" class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
      {% else %}
      <div>영화가 없습니다.</div>
      {% endif %}
    </div>
    <hr>
  
    <!-- 인물 -->
    <div class="mb-5">
      <h2>인물</h2>
      
      {% if search_person %}
      <div class="d-flex">
        <div class="row w-100">
          {% for person in search_person %}
          <div class="col-6 d-flex align-items-center">
            <div class="category-thumnail">
              {% if person.profile_path %}
              <img src="https://image.tmdb.org/t/p/w500/{{ person.profile_path }}" alt=""/>
              {% else %}
              <img src="{% static 'img/no_profile.jpg' %}" alt="">
              {% endif %}
            </div>
            <div>{{ person.name }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div>인물이 없습니다.</div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock content %}

{% block script %}{% endblock script %}
